.about-us-container {
  margin: 0 auto;
  padding: 40px 100px;
  font-family: "Arial", sans-serif;
  color: #0d1117;
  line-height: 1.6;
  transition: color 300ms ease, background-color 300ms ease;
}



.dark .about-us-container {
  color: #c9d1d9;
  background-color: #161b22; /* Optional if a background change is needed */
  transition: color 300ms ease, background-color 300ms ease;
}




.header-title,
.mission-title,
.features-title,
.how-it-works-title,
.testimonials-title,
.contact-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #ffc727;
  transition: color 300ms ease;
}

.dark .header-title,
.dark .mission-title,
.dark .features-title,
.dark .how-it-works-title,
.dark .testimonials-title,
.dark .contact-title {
  color: #ffc727;
}

.header-section {
  background: linear-gradient(360deg, #ffc727, white);
  color: #0d1117;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
  /* animation: fadeIn 2s ease-in-out; */
  animation: slideUp 1.5s ease-in-out;
  transition: color 300ms ease, background 300ms ease;
}

.dark .header-section {
  background: linear-gradient(360deg, #2d333b, #161b22);
  color: #c9d1d9;
}

.header-title {
  font-size: 3rem;
}

.header-description {
  font-size: 1.2rem;
}

.mission-section,
.features-section,
.how-it-works-section,
.testimonials-section,
.contact-section {
  margin: 40px 0;
  padding: 20px;
  background: #fefeea;
  border-radius: 10px;
  animation: slideUp 1.5s ease-in-out;
  transition: color 300ms ease, background-color 300ms ease;
}

.dark .mission-section,
.dark .features-section,
.dark .how-it-works-section,
.dark .testimonials-section,
.dark .contact-section {
  background: #161b22;
}

.mission-description,
.features-list,
.how-it-works-list,
.testimonial,
.contact-description {
  margin: 20px 0;
}

.features-list,
.how-it-works-list {
  margin-left: 20px;
}

.features-item,
.how-it-works-item {
  margin: 10px 0;
}

.features-item-title,
.how-it-works-step-title {
  font-weight: bold;
}

.testimonial {
  background: #fefeea;
  border-left: 5px solid #ffc727;
  margin: 20px auto;
  padding: 20px;
  font-style: italic;
  position: relative;
  animation: fadeIn 2s ease-in-out;
  transition: color 300ms ease, background-color 300ms ease;
}

.dark .testimonial {
  background: #161b22;
  border-left: 5px solid #ffc727;
}

.testimonial-author {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #ffc727;
  transition: color 300ms ease;
}

.contact-description {
  font-size: 1rem;
}

.contact-email {
  color: #ffc727;
  text-decoration: underline;
}

.mission-section:hover,
.features-section:hover,
.how-it-works-section:hover,
.testimonials-section:hover,
.contact-section:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.dark .mission-section:hover,
.dark .features-section:hover,
.dark .how-it-works-section:hover,
.dark .testimonials-section:hover,
.dark .contact-section:hover {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideUp {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@media (max-width: 992px) {
  .header-title {
      font-size: 2.5rem;
  }

  .header-description {
      font-size: 1rem;
  }

  .features-list,
  .how-it-works-list {
      margin-left: 15px;
  }

  .testimonial {
      padding: 15px;
  }
}

@media (max-width: 768px) {
  .header-section {
      padding: 30px 15px;
  }

  .header-title {
      font-size: 2rem;
  }

  .header-description {
      font-size: 0.9rem;
  }

  .features-item,
  .how-it-works-item {
      font-size: 0.9rem;
  }

  .testimonial {
      font-size: 0.9rem;
  }

  .mission-section,
  .features-section,
  .how-it-works-section,
  .testimonials-section,
  .contact-section {
      padding: 15px;
      margin: 30px 0;
  }
}

@media (max-width: 576px) {
  .header-title {
      font-size: 1.8rem;
  }

  .header-description {
      font-size: 0.8rem;
  }

  .mission-section,
  .features-section,
  .how-it-works-section,
  .testimonials-section,
  .contact-section {
      padding: 10px;
      margin: 20px 0;
  }

  .features-item,
  .how-it-works-item {
      font-size: 0.8rem;
  }

  .testimonial {
      font-size: 0.8rem;
      padding: 10px;
  }
}
