* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.abc {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color: rgb(245, 243, 240);
    height: 600px;
    padding: 200px;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: larger;
    gap: 20px;
}

.aboutImg {
    width: 100%;
    max-width: 540px;
    height: auto;
}

.dark .abc {
    background-color: rgba(0, 0, 0, 0.929);
    color: #fff;
}

h1 {
    color: #ffc727;
}

@media (max-width: 768px) {
    .abc {
        padding: 100px 50px;
    }

    .text {
        font-size: medium;
        width: 100%;
    }

    .aboutImg {
        width: 100%;
        max-width: 400px;
    }
} 
